.navbar-text {
  color: #7d7d7d;
  font-size: 14px;
  padding-left: 50px;
  padding-right: 50px;
  text-transform: uppercase;
}

.navbar-text:hover {
  color: #03a9f4;
  cursor: pointer;
}

.homework-img {
  position: absolute;
  width: 420px;
  height: 280px;
  left: 148px;
  top: 182px;
  border: red solid 1px;
  background: url(1.png);
  margin: 182 148 1774;
}

.homework-img:hover {
  border: #03a9f4 solid 2px;
}
